// colors
$color-white: #fff;
$color-black: #000;
$color-lt-grey: #c6c6c6;
$color-md-grey: #444;
$color-dk-grey: #222;
$color-accent: #e86d20;

// type 
$font-family: 'Source Sans Pro', sans-serif;
$font-light: 300;
$font-medium: 400;
$font-bold: 700;

// spacing
$spacing: 10%;
