//
// Header
//=========================

.header {
	@extend %spacing;

	@include respond-to($desktop) {
		border-bottom: 1px solid $color-lt-grey;
	}

	&__container {
		padding: 1% 0;
	}

	&__logo {
		img {
			width: 100px;
			height: 30px;
		}
	}
}