//
// Media Block
//=========================

.media {
	&__container {
		margin: calculateRem(50) auto;

		@include respond-to($desktop) {
			display: flex;
			flex-direction: row;
			border-bottom: 1px solid $color-lt-grey;	
		}
	}

	&__item {
		width: 100%;
		margin: calculateRem(50) auto;
		padding-bottom: calculateRem(30);
		border-bottom: 1px solid $color-black;
		text-align: center;

		@include respond-to($desktop) {
			flex: 1 1 calc((100% - calculateRem(40)) / 3);
			width: calc((100% - calculateRem(40)) / 3);
			border-bottom: none;
			margin: 0 calculateRem(20) calculateRem(10) 0;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__item-title {
		color: $color-md-grey;
		font-weight: $font-light;
		font-size: calculateRem(24);
		margin-bottom: calculateRem(15);
	}

	&__item-img {
		margin-bottom: calculateRem(15);
		border: 1px solid $color-lt-grey;
		padding: 2px;
		width: calc(100% - 4px);
	}

	&__item-text {
		color: $color-md-grey;	
		margin-bottom: calculateRem(20);
	}

	&__item-btn {
		color: $color-white;
		background-color: $color-black;
		text-transform: uppercase;
		letter-spacing: calculateRem(1);
		font-size: calculateRem(10);
		font-weight: $font-bold;
		padding: calculateRem(10) calculateRem(15);;
	}
}